.item-count {
  background: green;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
  color: #fff;
  position: relative;
  bottom: 25px;
  right: 14px;
}

.add-to-cart {
  position: absolute;
  right: 32px;
  top: 16px;
  font-size: 32px;
}
